<h1>{{title}}</h1>
<nav>
  <a routerLink="/form">Form</a>
</nav>
<router-outlet></router-outlet>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Sexo</th>
      <th>Id</th>
      <th>Categoria</th>
      <th>Brinco</th>
      <th>Cor do Brinco</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pizzas; index as i">
      <td>{{item.id}}</td>
      <td>{{item.sex}}</td>
      <td>{{item.category}}</td>
      <td>{{item.weight}}</td>
      <td>{{item.earring.value}}</td>
      <td>{{item.earring.color}}</td>
    </tr>
  </tbody>
</table>