<main id="content">
  <form [formGroup]="bovineRegForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="earringIdentifier">
        Brinco
      </label>
      <input id="earringIdentifier" type="text" formControlName="earringIdentifier">
      <button (click)="onClick()" type="button">O</button>
    </div>
  
    <div>
      <label for="earringColor">
        Cor
      </label>
      <input id="earringColor" type="text" formControlName="earringColor">
    </div>

    <div>
      <label for="sex">
        Sexo
      </label>
      <input id="sex" type="text" formControlName="sex">
    </div>

    <div>
      <label for="category">
        Categoria
      </label>
      <input id="category" type="text" formControlName="category">
    </div>

    <div>
      <label for="weight">
        Peso
      </label>
      <input id="weight" type="text" formControlName="weight">
    </div>

    <button class="button" type="submit">Enviar</button>
  </form>
</main>
